html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  background-color: darkslateblue;
  background-color: #3c3c3c;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: darkslateblue;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: FontDefault;
  src: url(./CartoonQueen.ttf);
}

@font-face {
  font-family: FontGame;
  src: url(./Games.ttf);
}


