html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  background-color: darkslateblue;
  background-color: #3c3c3c;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: darkslateblue;
}

* {
  box-sizing: border-box;
}

